/*reset basico*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #ccc;
}
header{
    display: flex;
    height: 80px;
    background: #137a8b;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 1.7rem;
    gap: 0.7rem;
}
header nav ul a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
header nav ul a:hover{
    text-decoration: underline;
    color:greenyellow;
}
.cor{
    width: 20px;
    border-radius: 100px;
}